formatter.name: nyan.cat
extensions:
  - PhpSpec\NyanFormattersExtension\Extension
suites:
  default_suite:
    namespace:   CubicMushroom\Tools\ProjectToolbelt
    psr4_prefix: CubicMushroom\Tools\ProjectToolbelt